@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Jost';
    src: url('../font/Jost-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

:root {
    --font-stack: Jost;
    --mono-font-stack: Jost Mono;
    --global-font-size: 20px;
    --global-font-color: #444;

    --background-color:#fff;
    --primary-color:#3e158b;
    --secondary-color:#727578;
    --global-line-height: 1.6em;
    --page-width: 40em;
}

body {
    font-family: "Jost*", "Jost", sans-serif;
    font-size: var(--global-font-size);
    margin-bottom: 75px;
    color:var(--global-font-color);
    line-height:var(--global-line-height);
    margin:0;
    word-wrap:break-word;
    background-color:var(--background-color);
    padding: 20px 0 0 0;
}

p {
    padding: 0 0 12px 0;
}

h1 {
    font-size: 1.6em;
    margin: 35px 0 30px 0;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.container {
    margin: 0 auto;
    max-width:var(--page-width);
}

nav {
    color:var(--global-font-color);
    text-align: right;
    width:100%;
}

/**** Post List ****/
.posts-list .date,
article .date {
    font-size: 0.8em;
    color:var(--secondary-color);
}

.footer {
    margin-top: 4em;
    padding-top: 1em;
    color:var(--global-font-color);
    text-align: left;
    /*width:80%;*/
    border-top: 1px solid var(--secondary-color);
    color: var(--global-font-color);
}

.footer_social-icons svg {
    color: var(--secondary-color);
    height: 24px;
    width: 24px;
    padding-right: 5px;
    &:hover {
        color: var(--primary-color);
    }
}

.navblock{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    margin-bottom: 4em;
}

.home-nav {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width:100%;
}

.logo {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
}

code {
    font-size: 0.7em;
    word-wrap: break-word;
    display: block;
    background: #fafafa;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: .2rem 1rem .2rem;
    border-radius: .2rem;
}



nav > a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color:var(--global-font-color);
    margin-right: 25px;
}

@media only screen and (max-width: 768px) {
	:root {
        margin:10px;
		--global-font-size: 18px;
	}
}

a{
    cursor:pointer;
    color:var(--primary-color);
    text-decoration:none
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


/* style.css | http://localhost:1313/css/style.css */

h1 {
    /* margin: 35px 0 10px 0; */
    margin: 35px 0 30px 0;
  }
